.postVideos{
    margin-top: 10vh;
    width: 100%;
    min-height: 80vh;
    padding: 50px;
    /* background-color: rgb(229, 140, 201); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postVideos input{
    width: 50%;
    height: 30px;
}

.Mainvideo{
    display: flex;
    /* align-items: center; */
    gap: 1rem;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}

#textarea{
    padding: 50px;
}