.bigBox{
    width: 100%;
    height: auto;
    /* background-color: red; */
    padding:0 50px;
    
}

.learn p{
    margin-left: -35px;
}

.learn{
    width: 100%;
    height: 15vh;
    /* background-color: brown; */
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(45, 47, 49);
    padding: 0;
    display: flex;
    justify-content: first baseline;
    font-family: 'Times New Roman', Times, serif;
  }


.Mainvideos2{
    height: auto;
}

.videoBox{
   width: 100%;
   height: 80%;
   /* background-color: rgb(128, 0, 255); */
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.videoBox1 {
    width: 100%;
    height: 80%;
    padding: 30px 50px;
    /* background-color: rgb(128, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoHeadlines{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    margin-left: -30vw;
}

.videoHeadlines span{
    color:  rgb(86, 36, 208);
    text-decoration: underline;
}

.videos{
    width: 18.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: red; */
}

.videoImage video{
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.videoImage {
    width: 100%;
    /* background-color: blue; */
    height: 35vh; 
    border: solid 1px rgb(37, 35, 35);
    margin-bottom: 2%;
    
   
  }

.title{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    align-items: start;
    justify-content: flex-start;
    /* line-height: 19.2px; */
    color: rgb(45, 47, 49);
    height: 7vw;

}

.authorName{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2px;
    color: rgb(45, 47, 49);
    height: 2vw;
}

.price{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: rgb(45, 47, 49); 
    height: 2vw;
}

.bigContainerDiv{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 380px) {
    .videoBox1 {
            padding: 5px 10px;
        }
        
    #videos{
        width: 44.5%;
        gap: 5px;
        /* background-color: brown; */
        margin-bottom: 3vh;
        height: auto;
    }

    .learn p{
        font-size: 10px;
        margin-left: -15px;
    }


    .title{
        font-size: 8px;
        font-weight: 500;
        padding: 5px;
    }

    .authorName{
        font-size: 7px;
        line-height: 1.2px;
        padding: 5px;
        height: 3vw;        

    }

    .price{
        font-size: 8px;
        font-weight: 500;
        padding: 5px;
        height: 3vw; 
        margin-top: -5px;
        display: flex;
        align-items: center; 
    }

        .bigBox {
    
            padding: 0 30px;
    
        }

}

@media (max-width: 768px) {
    #Mainvideos2{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }

        .videoBox1 {
            padding: 5px 10px;
        }

    .learn p{
        font-size: 12px;
        margin-left: -18px;
    }

    #Mainvideos3{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .videoImage video{
        margin-bottom: 10px;
    }
    
    .videoImage {
        height: 30vh; 
        margin-bottom: 15px;
        /* background-color: red; */
        
       
      }


    .videos{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .title{
        font-size: 8px;
        font-weight: 500;
        padding: 5px;
    }

    .authorName{
        font-size: 7px;
        line-height: 1.2px;
        padding: 5px;
        height: 3vw;        

    }

    .price{
        font-size: 8px;
        font-weight: 500;
        padding: 5px;
        height: 4vw; 
        margin-top: -5px;
        display: flex;
        align-items: center; 
    }

    .videoHeadlines{
        font-size: 12px;
        font-weight: 500;
        line-height: 16.8px;
        margin-left: 0;
    }

        .bigBox {
          
            padding: 0 30px;
    
        }
}

