* {
    margin: 0;
    padding: 0;
  }
  
  .body1 {
    height: 75vh;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .whiteBox {
    width: 35%;
    height: 40vh;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 21%;
    padding: 20px 30px;
    transform: translate(-50%, -50%);
  }

  .you{
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
  }

  .skills{
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
  }

  .dismis{
    width: 96%;
    height: 15vh;
    background-color: rgb(45,47,49);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    /* justify-content: ; */
    padding: 0 30px;
  }

  .training{
    width: 75%;
    height: 50%;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
  }

  .buttonBox{
    width: 25%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button1{
    width: 65%;
    height: 50%;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: rgb(45, 47, 49);
    border: none;
  }

  .button2{
    width: 30%;
    height: 50%;
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: white;
    border: solid 1px white;
  }

  .learn{
    width: 100%;
    height: 15vh;
    /* background-color: brown; */
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(45, 47, 49);
    padding: 20px 30px;
    display: flex;
    justify-content: first baseline;
    font-family: 'Times New Roman', Times, serif;
  }

  @media (max-width: 768px) {
    .whiteBox {
      height: auto;
      top: 40%;
      left: 21%;
      padding: 3px 10px;
      transform: translate(-50%, -50%);
    }

    .you{
      font-size: 10px;
      font-weight: 500;
      line-height: 16px;
    }

    .skills{
      font-size: 8px;
      line-height: 12px;
    }

    .body1 {
      height: 18vh;
    }

    .dismis{
      width: 96%;
      height: auto;
      padding-left: 10px;
    
    }

    .training{
      margin-top: 10px;
      font-size: 10px;
      font-weight: 500;
      line-height: 16.2px;
    }

    .button1{
      width: 75%;
      font-size: 8px;
      font-weight: 400;
      line-height: 10.8px;
      height: 80%;
    }

    .buttonBox{
      width: 40%;
      gap: 2px;
    }

    .button2{
      font-size: 8px;
      height: 70%;
      font-weight: 400;
      line-height: 10.8px;
    }

    .learn{
      width: 100%;
      height: 6vh;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: rgb(45, 47, 49);
      padding: 10px 15px;
    
    }
  }

  @media (max-width:768px ) {
    .body1{
      margin-top: 10vh;
    }
  }

  @media (max-width:380px ) {
    .body1{
      margin-top: 13.5vh;
    }
  }