.Mainvideos4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 140vh;
}

.showCertificate {
    color: black;
    width: 80%;
    height: auto;
    background-image: url('https://i.pinimg.com/564x/0b/91/7d/0b917d63ae7cd4d5d144852cc1a0be76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* background-color: red; */
}

.certificate-title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 7rem;
    /* background-color: red; */
}

.certificate-content {
    margin-bottom: 20px;
}

.instructors-div{
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    /* background-color: red; */
    justify-content: space-evenly;
}

.certificate-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.certificate-course {
    font-size: 1.2rem;
    margin: 8vh 60px;
}

.certificate-details {
    font-size: 0.9rem;
    
}

.certificate-instructors {
    margin: 20px 0;
    font-style: italic;
}

.certificate-signature {
    margin: 20px 0;
    /* background-color: red; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signature {
    width: 100px;
    margin: 0 auto;
}

.certificate-buttons {
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    width: 100%;
}

.btn-download,
.btn-close {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-download {
    background-color: #28a745;
    color: white;
}

.btn-closed {
    background-color: #dc3545;
    border: none;
    width: 80px;
    border-radius: 3px;
    height: 40px;
    color: white;
}

.btn-download:hover {
    background-color: #218838;
}

.btn-close:hover {
    background-color: #c82333;
}

.buttons{
    display: flex;
    width: 100%;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

@media print {
   
    .buttons {
        display: none;
    }

    

    .Mainvideos4 {
        display: block !important; 
        width: 100%; 
        height: auto;
        background: rgb(117, 30, 87); 
        padding: 20px; 
        box-shadow: none;
        background-image: url('https://i.pinimg.com/564x/0b/91/7d/0b917d63ae7cd4d5d144852cc1a0be76.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        color: black; 
        padding: 20px; 
        border-radius: 10px; 
    }

  
}

.carrier{
    width: 100%;
    height: auto;
}

@media (max-width: 380px) {
    #showCertificate123{
        height: 60%;
        line-height: 15px;
        gap: 0.4rem;
        /* background-color: red; */
        width: 95%;
        padding-top: 15vh;
    }
}

@media (max-width: 768px) {
    .showCertificate{
        height: 50%;
        line-height: 15px;
        gap: 0.4rem;
        /* margin-top: -20vh; */
        width: 95%;
        padding-top: 12vh;
    }

    .buttons{
        margin-top: 10vh;
    }
    .Mainvideos4{
        /* background-color: red; */
        padding: 2px;
    }
    .certificate-title{
        font-size: 12px;
        font-weight: 700
    }

    .certificate-name{
        font-size: 14px;
        font-weight: 700;
        margin-bottom:10px;
    }
    .certificate-course{
        font-size: 10px;
        font-weight: 500;
        margin: 0;
    }
    .certificate-name{
        font-size: 10px;
        font-weight: 500;
    }
    .certificate-details{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0;
        
    }

    .certificate-instructors{
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 3px;
    }

    .instructors-div{
        margin-top: 5px;
    }

    

    .signature {
        width: 50px;
        margin: 0 3px;
    }

    .certificate-signature{
        font-size: 10px;
    }
}




