*{
    margin: 0;
    padding: 0;
}

.main{
    width: 90%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

.imageCon{
    /* background-color: red; */
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageCon img{
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
}

.headers{
    width: 100%;
    background-color: white;
    height: 13vh;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    position: relative;
    border-bottom: solid 1px rgb(223,228,231);
    box-shadow: none;
    justify-content: space-between;
}

.logo{
    width: 6%;
    height: 45%;
}

.dropdown{
    /* background-color: aqua; */
    height: 50%;
    margin-top: 15px;
    position: absolute;
    Font-size: 14px;
    Font-weight: 400;   
    Line-height: 19.6px;
}

.dropdownContent{
    background-color: red;
    margin-top: 30px;
    display: none;
    Font-size: 14px;
    Font-weight: 400;   
    Line-height: 19.6px;

}

.cart{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    width: 40%;
    padding-left: 10px;
    height: 65%;
    background-color: rgb(247,249,250);
    border-radius: 30px;
    border: solid 1.3px rgb(98,100,102);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    width: 85%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    border-radius: 20px;
    outline: none;
}

#searchLogo{
    color: grey;
    font-size: 22px;
}

.search ::placeholder{
    Font-size: 13px;
    Font-weight: 600;  
}

.buttonSignup{
    width: 6%;
    background-color: white;
    height: 50%;
    border: solid 1px black;
    font-size: 14px;
    font-weight: 600;
}

.buttonLogin{
    width: 6%;
    background-color: black;
    height: 50%;
    border: solid 1px black;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.globeBox{
    width: 3%;
    background-color: white;
    height: 50%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round{
    width: 3vw;
    background-color: white;
    height: 3vw;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: black;
    color: white;
    
}

@media (max-width: 768px) {
    .main {
      display: none;
    }

    .imageCon{
        /* background-color: red; */
        width: 30%;
    }

  
    .menu {
      display: block;
    }

    .headers{
        height: 10vh;
    }
  }