.body{
    width: 100%;
    height: 105vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox{
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px ;
    Font-size: 16px;
    Font-weight: 700;
    Line-height: 19.2px;
    color: rgb(45, 47, 49);
    gap: 0.5rem;
}

.others:hover{
  background-color: rgb(225, 225, 237);
}

.inputBox input[type="text"]{
    width: 90%;
    height: 15%;
    padding: 0 20px 0 20px;
    border: solid 1.1px black;
    Font-size: 14px;
    Font-weight: 700;
    Line-height: 19.2px;
    
 
}

.others{
    width: 90%;
    height: 15%;
    padding: 0 20px 0 20px;
    border: solid 1.1px black;
    display: flex;
    align-items: center;
    Font-size: 18px;
    Font-weight: 700;
    Line-height: 19.2px;
    color: rgb(45, 47, 49);
    gap: 0.5rem;
    /* background-color: red; */
}



.inputBox input[type="text"]::placeholder{
    color: rgb(45, 47, 49);
}

.lineBox{
    width: 60%;
    /* background-color: red; */
    height: 2%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.lines{
    width: 20%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(209,215,220);
}

.checkContainer{
    width: 80%;
    height: 10%;
    gap: 1rem;
    display: flex;
    align-items: start;
    Font-size: 13.5px;
    Font-weight: 500;
    Line-height: 19.6px;
    /* background-color: red; */
    color: rgb(45, 47, 49);
}

.checkContainer input{
    width: 25px;
    height: 25px;
    border: solid black;
    border-radius: none;
}

.checkContainer input[type="checkbox"]:checked {
    background-color:black;
  }

  .buttonSignin{
    width: 90%;
    height: 12%;
    background-color: rgb(164,53,240);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
  }

  .termsBox{
    width: 90%;
    height: 8%;
    /* background-color: aqua; */
    border-bottom: solid 2px rgb(236,239,241);
    display: flex;
    justify-content: center;
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 16.8px;
    color: rgb(45, 47, 49);
  }

  .termsBox span{
    text-decoration: underline;
    Font-size: 15px;
    Font-weight: 700;
    Line-height: 16.8px;
    color: rgb(86,36,208);

  }

  .small{
    width: 100%;
    height: 50%;
    
    display: flex;
    /* background-color: aqua; */
  }

  #google{
    width: 12%;
    height: 75%;
  }

  .loginBox{
    width: 90%;
    height: 8%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* background-color: aqua; */
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 19.8px;
    color: rgb(45, 47, 49);
    
  }

  .loginBox p{
    width: 70%;
  }

  .loginBox span{
    Font-size: 15px;
    Font-weight: 700;
    Line-height: 16.8px;
    color: rgb(86,36,208);
    text-decoration: underline;
   
  }

  @media (max-width: 768px) {
    #body{
      height: 70vh;
    }

    #inputBox{
      /* background-color: red; */
      width: 90%;
    }

    #loginBox{
      margin-top: 0.5rem;
    }
  }