*{margin: 0;
    padding: 0;
}

.subCategory{
    width: 100%;
    height: 220vh;

}

.video{
    width: 100%;
    height: 100%;
}



.Mainvideos2{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 1rem;
    /* background-color: rgb(136, 0, 255); */
    width: 100%;
    height: 100%;
    
}

.Mainvideos3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.447);
    /* background-color: brown; */
    margin-top: -10vh;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 7;
    margin-left: -6.4%;
    display: none;
}

.playvideo video{
    position: relative;
    width: 100%;
    height: 95%;
}

.status{
    color: white;
    height: 4%;
}

.buttonPay{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

.buttonPay span{
    cursor: pointer;
}

.playvideo{
    width: 70%;
    height: 80%;
    display: flex;
    gap: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.videoPlayer{
    width: 70%;
    height: 85%;
    /* background-color: rgb(49, 19, 104); */
}

.vidImage{
    width: 80%;
    height: 80vh;

}

.videoItem{
    width: 30%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    width: 100%;
    height: 30%;
    background-color: rgb(45,47,49);
    padding: 20px 80px 0 80px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}


.btn-downloaded{
    width: 13vw;
    height: 3vw;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: rgb(45,47,49);
    color: white;
    margin: 1vw auto;
}

.btn-downloaded1{
    width: 13vw;
    height: 3vw;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: rgb(45,47,49);
    color: white;
    margin: 1vw auto;
    
}


.category1{
    width: 65%;
    height: 15%;
    /* background-color: rgb(179, 34, 99); */
}

.category3{
    width: 28%;
    height: 60vh;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 20px gray;
    top: 5%;
    left: 66.8%;
    position: absolute;
    z-index: 2;
}

.videoSub{
    width: 100%;
    height: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: grow 1s ease-in-out infinite alternate;
  }
  
  @keyframes grow {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
  }


.category2{
    width: 65%;
    height: 70%;
    /* background-color: red; */
}

.line1{
    Font-size: 32px;
    Font-weight: 700;
    Line-height: 38.4px;
    color: rgb(255, 255, 255);
}

.line2{
    Font-size: 19px;
    Font-weight: 400;
    Line-height: 26.4px;
    color: rgb(255, 255, 255);
}

.line3{
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 19.4px;
    color: rgb(255, 255, 255);
    display: flex;
}

.time{
    /* width: 25%; */
    height: 100%;
    gap: 6px;
    /* background-color: aquamarine; */
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 19.4px;
    color: rgb(255, 255, 255);
    display: flex;
    /* align-items: center; */
    text-align: center;
}

.last{
    width: 65%;
    height: 10%;
    /* background-color: rgb(179, 34, 99); */
    display: flex;
    gap: 1rem;
}

.section1{
    width: 100%;
    height: 97%;
    padding: 2rem 5rem;
    /* background-color: palevioletred; */
   
}

.subsection1{
    width: 65%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:  20px 0;
    align-items: center;
    gap: 1rem;
}


.sub1{
    width: 90%;
    /* height: 35vh; */
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.sub2{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* background-color: red; */
    /* border: solid 1px grey; */
}

.sub3{
    width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    gap: 1rem;
    padding: 2vw 0 2vw 3vw;
    /* background-color: red; */
    /* border: solid 1px grey; */
}

.subDupli{
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    gap: 1rem;
    padding: 2vw 0 2vw 3vw;
    /* background-color: red; */
    /* border: solid 1px grey; */
}

.sub4{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    gap: 1rem;
    overflow-x: hidden;
    padding: 2vw 0 2vw 3vw;
    /* background-color: red; */
    /* border: solid 1px grey; */
}


.subtext1{
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
    color: rgb(45, 47, 49);
    display: flex;
    flex-wrap: wrap;
}

.check{
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: rgb(75, 10, 99); */
    align-items: center;
    flex-wrap: wrap;
    
}

.check1{
    width: 50%;
    height: auto;
   
    
}

.checkText{
    width: 100%;
    /* background-color: brown; */
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 19.8px;
    color: rgb(45, 47, 49);
    display: flex;
    align-items: center;
    gap: 0.3rem;

}

#span1{
    Font-size: 20px;
    Font-weight: 400;
    Line-height: 19.8px;
    color: rgb(45, 47, 49);
}

.sub1text{
    Font-size: 16px;
    Font-weight: 700;
    Line-height: 19.2px;
    color: rgb(45, 47, 49);
}

.sub1text1{
    Font-size: 13.5px;
    Font-weight: 500;
    Line-height: 19.2px;
    color: rgb(106, 111, 115);
}

.sub1text1 span{
    text-decoration: underline;
    color: blue;
}

.companiesBox1{
    width: 100%;
    /* background-color: red; */
    align-items: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    Font-size: 19px;
    Font-weight: 700;
    Line-height: 22.8px;
    color: white;
}

.subb{
    width: 90%;
    height: 12vh;
    /* background-color: aqua; */
    display: flex;
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
    color: rgb(45, 47, 49);
    /* padding: 10px 50px; */
}

.subb2{
    width: 90%;
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
    color: rgb(45, 47, 49);
    /* padding: 10px 50px; */
}
#subbP2{
    Font-size: 16px;
    Font-weight: 400;
}

.subb1{
    width: 90%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 28.8px;
    color: rgb(45, 47, 49);
    /* padding: 10px 50px; */
}

.subbtext{
    display: flex;
    gap: 1rem;
    Font-size: 14px;
    Font-weight: 400;
    Line-height: 19.8px;
    color: rgb(45, 47, 49);
    
}

.videoItem{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.videocon{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 10px;
    gap: 0.5rem;
    align-items: center;
    border: solid 1px grey;
    margin-bottom: 1px;
    /* background-color: blue; */
}

.videocon3{
    width: 100%;
    height: 70%;
    display: flex;
    /* padding: 0 ; */
    gap: 0.5rem;
    align-items: center;
    /* border: solid 1px rgb(226, 21, 21); */
    margin-bottom: 1px;
    /* background-color: blue; */
}

.videocon3 video{
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkText1{
    width: 100%;
    /* background-color: brown; */
    Font-size: 14px;
    Font-weight: 500;
    Line-height: 19.8px;
    color: rgb(45, 47, 49);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 2rem;

}