*{
    padding: 0;
    margin: 0;

}
/* students.css */

  

.subheader{
    width: 100%;
    height: 10vh;
    margin-top: 13vh;
    background-color: white;
    box-shadow: 0px 0.5px 10px 1px rgb(62, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0  50px 0 50px;
    Font-size: 14px;
    Font-weight: 400;   
    Line-height: 19.6px;
}

.dropDown{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    Font-size: 13.5px;
    Font-weight: 500;   
    Line-height: 19.6px;
}

@media (max-width: 768px) {
    .subheader {
      display: none;
    }
  }